<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuu.nuuinfo">
    <!-- android:sharedUserId="android.uid.system"> -->
    <!-- System Permissions begin -->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- System Permissions end -->
    <!-- Normal Permissions begin -->
    <uses-permission android:name="android.Manifest.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Dangerous Permissions start -->
    <!-- STORAGE -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--CAMERA-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Dangerous Permissions end-->


    <application
        android:name=".MiFiApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_nuu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!--<activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"/>-->
        <activity
            android:name="com.nuu.register.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.recipe-app.com"
                    android:pathPattern="/recipe"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name="com.nuu.my.PurchasePackageActivity" />
        <activity android:name="com.nuu.pack.PackageDetailByCountryActivity" />
        <activity android:name="com.nuu.pack.BuyPackageActivity" />
        <activity android:name="com.nuu.data.UsedDataTodayActivity" />
        <activity android:name="com.nuu.user.UserInfoSettingActivity" />
        <activity android:name="com.nuu.setting.NetSettingActivity" />
        <activity android:name="com.nuu.country.picker.PickActivity" />


        <activity
            android:name="com.nuu.tutorial.VideoPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity android:name=".WebViewActivity" />

        <service
            android:name="com.nuu.service.NuuService"
            android:enabled="true"
            android:exported="false"
            android:persistent="true">
            <intent-filter>
                <action android:name="com.nuu.service.BOOT_SERVICE" />
                <action android:name="com.nuu.service.REPORT_DEVICE_AM" />
                <action android:name="com.nuu.service.OBTAIN_DEVICE_AM" />
                <action android:name="com.nuu.service.CHECK_UPDATE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.nuu.receiver.NuuReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
            <intent-filter android:priority="1000">

                <!-- other actions I need -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>